@page
@model IndexModel
@{
    ViewData["Title"] = "Hjem side";
}

<div class="text-center">
    <h1 class="display-4" style="font-family: 'Comic Sans MS'; font-size: 30px; color: #495057;">Velkommen på Hillerød Sejlklub booke og aktivitet side</h1>
</div>

<div>
    <img src="/Images/IMG_0694-scaled.jpg" style="width: 740px; height: auto; object-fit: contain; display: block; margin: auto; border-radius: 15px;" alt="Foto af klubbers sejlbåde i aktion på vandet med et smukt slot i baggrunden."/>
</div>
